<div class= "col">

  <div class= "row justify-content-between  mr-5 ml-5">

    <h5><%= fest.title %><h5>
    <p>Du <%= fest.start_date.strftime("%d/%m/%Y") %> au <%= fest.end_date.strftime("%d/%m/%Y") %><p>
 <%= link_to(wish_list_path(wishlist.id), method: :delete, data: {confirm: "Es-tu sûr?"},  class: "remove-item mr-3", remote: true) do %>
    <i class="fas fa-times"></i>
    <% end %></div>
  <div class= "mr-5 ml-5">
    <% if fest.description != nil %>
    <p>Description: <%= fest.description %> </p>
    <% end %>
    <% if fest.website != nil %>
    <p>Site web: <%= link_to fest.website, fest.website %></p>
    <% end %>
  </div>
</div>