
<div class="card blog-card">
    <%link_to("#", class:"post-thumb") do %>
      <%if fest.festpic.attached?%>
        <%= image_tag fest.festpic, alt: 'festival picture' %>
      <%else%>
         <%= image_tag 'https://festivalhommesforts.ca/wp-content/uploads/2017/06/Festival_music_374x230.jpg' %>
      <%end%>
    <% end %>

    <%= link_to(wish_list_path(wishlist.id), method: :delete, data: {confirm: "Es-tu sûr?"},  class: "remove-item mr-3") do %>
      <i class="fas fa-times"></i>
    <% end %>
         
    <div class="card-body">
      <h4 class="post-title">
        <%= fest.title %></a>
      </h4>
      <p class="text-muted"> 
        <span><i class="far fa-clock"></i> Du <%= fest.start_date.strftime("%d/%m/%Y") %> au <%= fest.end_date.strftime("%d/%m/%Y") %></span>
      </p>
      
      <% if fest.description != nil %>
        <p class="text-muted"> <%= fest.description %> </p>
      <% end %>
      
      <% if fest.website != nil %>
        <p>Site web: <%= link_to fest.website, fest.website %></p>
      <% end %>
      
      <%if fest.tags != [] %>
        <% fest.tags.each do |tag| %><span class="tag-link"><%= tag.music_type.style%> </span><%end%>
      <% end %>
    </div>

    <div class="card-footer">
      <div class="post-meta">
        <i class="fas fa-map-signs"></i> <%= fest.address %>
      </div>
    </div>
</div>

<br/>
   