<div class="card blog-card">

  <%= link_to(wish_list_path(wishlist.id), method: :delete, data: {confirm: "Es-tu sûr?"},  class: "rm_fest mr-3") do %>
  <i class="fas fa-times"></i>
  <% end %>

  <div class="card-body">
    <h4 class="post-title"><%= fest.title %></h4>

    <div class="info_wishlist mt-3">
      <p class="text-muted">
        <span><i class="far fa-clock"></i> Du <%= fest.start_date.strftime("%d/%m") %> au
          <%= fest.end_date.strftime("%d/%m") %></span>
      </p>
      <p><i class="ml-3 fas fa-map-signs"></i> <%= fest.address %></p>
      <% if fest.website != nil %>
      <p><i class="ml-3 fas fa-globe-americas"></i> <%= link_to "Vers le site", fest.website %></p>
      <% end %>
    </div>

  </div>


</div>

<br />