    <!--<h2>Edit <%= resource_name.to_s.humanize %></h2>-->
   <div class="jumbotron">
    <div class="container">
      <div class="h1 text-uppercase">
        <span class="d-inline-block mr-2" data-parallax='{"y" : -20}'>P</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : 20}'>a</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : -20}'>r</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : 25}'>a</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : -25}'>m</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : 30}'>è</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : -30}'>t</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : 35}'>r</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : -35}'>e</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : -35}'>s</span>       
        </div>
    </div>
  </div>
<div class="page-container">
  <div class="container mb-4">
  
    <div class="row">
      <!-- Account Sidebar-->
        <div class="col-lg-4 pb-5">
          <div class="author-card pb-3">
            <div class="author-card-cover"><%= image_tag "bracelet_festivals.jpg"%></div>
            <!-- Profile picture-->
              <div class="author-card-profile">
                <div class="author-card-avatar">
                  <%if @user.avatar.attached?%>
                    <%= image_tag @user.avatar.variant(resize: "100x100"), alt: 'avatar' %>
                  <%else%>
                    <i class="fas fa-user-circle fa-7x"></i>
                  <%end%>
                </div>
            <!-- end-->
                  <div class="author-card-details">
                    <h5 class="author-card-name text-lg"><%= @user.first_name%> <%= @user.last_name%></h5><span class="author-card-position">Depuis le <%= @user.created_at%></span>
                  </div>
               </div>
            
          <!-- avatar change upload-->
            <div class="col-md-12">
              <div class="form-group d-flex">  
                    <%= form_tag profile_avatars_path(@user), multipart: true do %>
                    <%= file_field_tag :avatar %><%= submit_tag "changer avatar",class:"btn btn-warning btn-sm justify-content" %>
                    <% end %>
              </div>
            </div>
          <!-- end-->

          </div>
            <div class="wizard">
              <nav class="list-group list-group-flush">
              <% link_to profile_path(current_user), class: 'list-group-item' do %>
                <i class="fas fa-user text-muted"></i>Informations Profil
                <%end%> 
              </nav>
            </div>
        </div>
      <!-- end-->

      <!-- Profile Settings-->
        <div class="col-lg-8 pb-5">
          <h4 class="text-center">Éditer mon compte</h4>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <div class="field">
                    <%= f.label :Prénom %><br />
                    <%= f.text_field :first_name, autofocus: true, autocomplete: "Prénom", class: "form-control" %>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group"> 
                  <div class="field">
                    <%= f.label :Nom %><br />
                    <%= f.text_field :last_name, autofocus: true, autocomplete: "Nom" , class: "form-control" %>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="field">
                    <%= f.label :Email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "Email", class: "form-control" %>
                  </div>
                </div>
              </div>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>En attente de confirmation pour: <%= resource.unconfirmed_email %></div>
                    <% end %>

              <div class="col-md-6">
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="field">
                    <%= f.label :Nouveau_Mot_de_passe %>
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
                    <% if @minimum_password_length %>
                      <em><%= @minimum_password_length %> caractères minimum</em>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">       
                  <div class="field">
                    <%= f.label :Confirmation_Mot_de_passe %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                  </div>
                </div>
              </div>
        <!-- end-->

        <!-- mandatory password for modifications-->
              <div class="col-md-6">
                <div class="form-group">  
                  <div class="field">
                    <%= f.label :Mot_de_passe_actuel %> <i>(recquis si changement)</i><br />
                    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control"  %>
                  </div>
                </div>
              </div>
        <!-- end-->

        <!-- confirmation button-->
            <div class="col-12 text-center">
                <div class="d-flex flex-wrap justify-content-end align-items-center ">
                  <%= f.submit "Mettre à jour mon profil", class:"btn btn-primary" %>
                </div>
              </div>
              <% end %>
        </div>
    </div>
  </div>
</div>
        <!-- end-->

        <!-- Delete account-->


<div class="container">
  <div class="row">
    <div class= "col-md-12 text-center">
    <h4 class="text-center">Supprimer mon compte</h4>
    <hr class="mt-2 mb-3">
    </div>
  </div>
  <div class="row"  style= "margin-bottom:16px;" >
    <div class="col-6 d-flex flex-wrap justify-content-end align-items-center">
      <em> Déçu ? Vous pouvez supprimer votre compte ici : </em>
    </div>
    <div class="col-6 text-left d-flex flex-wrap justify-content-between align-items-center">
      <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Vous êtes sûr de vous?" }, method: :delete,  class:"btn btn-dark btn-sm" %></p>
    </div>  
  </div>
</div>
 
<% if @user.errors.any? %>
  <p>Nous n'avons pas réussi à modifier votre profil pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
