<%= render 'admin/sidebar' %>


	<div class="page-container">

		<!-- Backoffice for Admin-->
		<section class="container py-5 mb-4">
			<h1 class="h4 block-title text-center pt-3">Back Office Admin de mon site FestRoad</h1>


				<!-- Total users-->
				<div class="row">
					<div class="col-sm-6 text-center">
						<p><strong>Nombre total d'utilisateurs:  <%= @users.count %>, dont admin: <%= @admins.count %></strong></p>
						<%= pie_chart User.group(:is_admin).count, colors: ["#4A1836", "#E54F26 "] %>

					</div>

				<!-- Total fests-->
					<div class="col-sm-6 text-center">
						<p><strong>Nombre total de festivals: <%= @fests.count %>, dont <%= @festlive.count %> en ligne </strong></p>
						<%= pie_chart Fest.group(:validation_admin).count, colors: ["#FFCF0F", "#4A1836"] %>
					</div>
				</div>
		</section>
	</div>
<div style="background: #4A1836; height: 10%;"></div>
