<div class="page-container">
    <!-- Backoffice Fests-->
    
    <div class="container">
      <h1 class= "h4 block-title text-center pt-3">Modifier le festival</h1>

        <!-- festival image change upload-->
        <div class="container-fluid">
          <div class="row"> 
            <div class="col-md-4"></div>
              <div class="col-md-2"> 
              <label> Image du festival </label>
              </div>
              <div class= "col-md-6">
                <%if @fest.festpic.attached?%>
                  <%= image_tag @fest.festpic.variant(resize: "100x100"), alt: 'festival image' %>
                <%else%>
                  <%= image_tag "Music_Festival_default.jpg", alt: "festival image default" %> 
                <%end%>
              </div>
            </div>

            <div class="row"> 
              <div class="col-md-4"></div>
                <div class="col-md-2"></div>
                  <div class= "col-md-6">
                    <%= form_tag  admin_festival_festpics_path(@fest.id), multipart: true do %>
                    <%= file_field_tag :festpic %>
                    <%= submit_tag "changer festival image",class:"btn btn-warning btn-sm justify-content" %>
                    <% end %>
                </div>
              </div>

        </div>
        <br>
          <!-- end-->

        <div class="container-fluid">
          <%= form_tag url_for(action: 'update'), method: "put" do %>
            <div class="row"> 
              <div class="col-md-4"></div>
                <div class="col-md-2">
                  <label> Titre </label>
                  </div>
                    <div class= "col-md-6">
                  <p><%= text_field_tag 'title', @fest.title %></p>
                </div>
            </div>
            <div class="row"> 
              <div class="col-md-4"></div>
                <div class="col-md-2">
                  <label> Date de début </label>
                </div>
                <div class= "col-md-6">
                  <p><%= text_field_tag 'start_date', @fest.start_date%></p>
                </div>
            </div>
            <div class="row"> 
              <div class="col-md-4"></div>
                <div class="col-md-2">
                  <label> Date de fin </label>
                </div>
                <div class= "col-md-6">
                  <p><%= text_field_tag 'end_date', @fest.end_date%></p>
                </div>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
                <div class="col-md-2">
                  <label> Description </label>
                </div>
                <div class= "col-md-6">
                  <p><%= text_area_tag 'description', @fest.description %></p>
                </div>
            </div>
            <div class="row"> 
              <div class="col-md-4"></div>
                <div class="col-md-2">
                  <label> Adresse </label>
                </div>
                <div class= "col-md-6">
                  <p><%= text_field_tag 'address', @fest.address%></p>
                </div>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
                <div class="col-md-2">
                  <label> Website </label>
                </div>
                <div class= "col-md-6">
                  <p><%= text_field_tag 'website', @fest.website %></p>
                </div>
              </div>

              <!--Validation Button-->
        <div class="container">
          <div class="container-fluid">
            <div class="row"> 
              <div class= "col-sm-4"></div>
            <%= submit_tag 'Valider mes modifications de festival', class: "btn btn-primary text-center" %>
              </div>
            </div>
          </div>
            <% end %>
        </div>
    </div>
</div>