<%= render 'admin/sidebar' %>

<div class="page-container">

<!-- Button to create a fest-->
<br>
        <div class="col-12 text-center">
          <div class="d-flex flex-wrap justify-content-end align-items-end ">
            <%=link_to 'Créer un nouveau festival', new_admin_festival_path, class: "btn btn-primary text-center" %>
          </div>
        </div>
        
  <!-- Backoffice Fests-->
  <section class="py-5 mb-4">
    <h1 class="h4 block-title text-center pt-3">Les festivals de mon site FestRoad</h1>

            <div class="table-responsive">
              <table class= 'table table-striped'>
              <thead>
              <tr class= 'bg-gradient'>
              <%= form_tag(admin_festivals_path, method: :get ) do %>
  
    
                <th class="backoffice-table">ID</th>
                <th class="backoffice-table">Titre<%= text_field_tag :title, params[:title], placeholder: "Nom d'un festival"  %>
                </th>
               
                <th class="backoffice-table">Date début</th>
                <th class="backoffice-table">Date fin</th>
                <th class="backoffice-table">Adresse<%= text_field_tag :address, params[:address], placeholder: "Nom ville"  %></th>
                <th class="backoffice-table">Type de musique<%= select_tag :music, options_for_select(@music.collect{ |u| [u.style, u.id] }), include_blank: "Type de musique" %>
                </th>
                <th class="backoffice-table">Intérieur/Extérieur <%= select_tag :location, options_for_select(@location.collect{ |u| [u.location, u.id] }.slice(0..-2)), include_blank:"Type de festival" %></th>
                <th class="backoffice-table">validation admin<%= select_tag :validation, options_for_select([true, false, ["nil", nil]]), include_blank:"Validation admin" %></th>
                <th class="backoffice-table"></th>
                <th><%= button_tag 'Rechercher', class: "btn btn-primary"  do %>
                    <i class="fas fa-search fa-2x"></i>
                  <% end %>  
                <% end %></th>
              </tr>
              </thead>
              <tbody>
              <% @fests.each do |fest|%>
              <tr>
                <td><%=fest.id%></td>
                <td><%=fest.title%></td>
                <td><%=fest.start_date%></td>
                <td><%=fest.end_date%></td>
                <td><%=fest.address%></td>
                <td><% fest.tags.each do |tag|%> <%=tag.music_type.style%><% end %></td> 
                <td><% fest.fest_locations.each do |fest_location|%> <%=fest_location.location_type.location%><% end %></td>
                <td><%=fest.validation_admin%></td>
                <td><%=link_to 'Éditer', edit_admin_festival_path(fest.id) %></td>
                <td><%=link_to 'Supprimer', admin_festival_path(fest.id), method: :delete %></td>
              </tr>
                <% end %>
              </table>
            </div>

  </section>
</div>

