<%= render 'admin/sidebar' %>

<div class="page-container">
  <!-- Backoffice Creation Fests-->

   <div class="container">
      <h1 class= "h4 block-title text-center pt-3">Créer une nouveau festival</h1>

        <div class="container-fluid">
          <%= form_tag url_for(action: 'create'), method: "post",  multipart: true do %>
            <div class="row"> 
              <div class="col-md-4"></div>
                <div class="col-md-2">
                  <label> Titre </label>
                </div>
                <div class= "col-md-6">
                  <p><%= text_field_tag 'title', @fest.title%></p>
                </div>
            </div>
            <div class="row"> 
              <div class="col-md-4"></div>
                <div class="col-md-2">
                  <label> Date de début </label>
                </div>
                <div class= "col-md-6">
                  <p><%= datetime_field_tag 'start_date', @fest.start_date%></p>
                </div>
            </div>
            <div class="row"> 
              <div class="col-md-4"></div>
                <div class="col-md-2">
                  <label> Date de fin </label>
                </div>
                <div class= "col-md-6">
                  <p><%= datetime_field_tag 'end_date', @fest.end_date%></p>
                </div>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
                <div class="col-md-2">
                  <label> Description </label>
                </div>
                <div class= "col-md-6">
                  <p><%= text_area_tag 'description', @fest.description %></p>
                </div>
            </div>
            <div class="row"> 
              <div class="col-md-4"></div>
                <div class="col-md-2">
                  <label> Adresse </label>
                </div>
                <div class= "col-md-6">
                  <p><%= text_field_tag 'address', @fest.address%></p>
                </div>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
                <div class="col-md-2">
                  <label> Website </label>
                </div>
                <div class= "col-md-6">
                  <p><%= text_field_tag 'website', @fest.website %></p>
                </div>
            </div>  
          </div> 

        <!--Validation button-->
        <div class="container">
          <div class="container-fluid">
            <div class="row"> 
              <div class= "col-sm-4"></div>
            <%= submit_tag 'Valider mon nouveau festival', class: "btn btn-primary text-center" %>
              </div>
            </div>
          </div>
          <% end %>  
        </div>
    </div>
  
  </div>

</div>