


<div class=" col-12">
  <div class="col-4" id="login">
    <h3 class="form-heading text-center">Mot de passe oublié?</h3>
      <div class="login-form">
        <div class="main-div">
          <p style="color: #6c757d">Nous vous enverrons par email les instructions pour ré-initialiser votre mot de passe.</p>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), id: "Login", html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="input-group form-group"> 
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"inputEmail", placeholder:"email" %>
          </div>

          <div class="actions mt-5">
            <%= f.submit "Récupérer", class: "btn btn-primary btn-block" %>
          </div>
            <% end %>
            <%= render "devise/shared/links" %>
        </div>
      </div>
  </div>
</div>

