<body id="home">

  <%= render 'banner2' %>
  <div style="background: #fff; height: 10%;" id="services"></div>
  <%= render 'how' %>
  <div style="background: #fff; height: 5%;"></div>

  <section class="bg-center-top bg-no-repeat py-5" data-offset-top="50" id="info">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-md-7 order-2 order-md-1  pt-md-0">
          <%= image_tag "markus-spiske-445247-unsplash.jpg", alt:"Photo festival", class: "d-block mx-auto mx-md-0 rounded",style: "width:75%;"%>
        </div>
        <div class="col-md-5 order-1 order-md-2 text-center text-md-left">
          <h3 class="h5">Pourquoi FestRoad?</h3>
          <p class="text-muted pt-3 pb-3 pb-md-4">L'été approche à grand pas, et la période des festivals aussi. Vous
            êtes curieux et aimez découvrir de nouveaux festivals? Ce qui vous plaît c'est l'ambiance? Vous souhaitez
            vous organiser un roadtrip de festivals mais sans sillonner tout l'héxagone? FestRoad vous montre en un coup
            d'oeil l'éventail de vos possibilités.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="bg-center-top bg-no-repeat py-5" data-offset-top="50" id="info">
    <div class="container pb-3 pb-md-4">
      <div class="row align-items-center">
        <div class="col-md-5 text-center text-md-left">
          <h3 class="h5">FestRoad : une réference en matière de festivals musicaux</h3>
          <p class="text-muted pt-3 pb-3 pb-md-4">Parce qu'aujourd'hui il existe des centaines de festivals de musique
            en France mais que seuls les plus grandes événements bénéficient d'une bonne visibilité.<br>
            Parce que les petits festivals méritent aussi d'être connus, FestRoad vous propose de les découvrir en
            quelques clics. <br>
            Ajoutez à vos favoris ces festivals - petits et grands - et planifiez votre aventure!</p>
        </div>
        <div class="col-md-7 pt-3 pt-md-0">
          <%= image_tag "rawpixel-274857-unsplash.jpg", alt:"Photo festival", class:"d-block mx-auto ml-md-auto mr-md-0 rounded",  style: "width:75%;"%>
        </div>
      </div>
  </section>

  <section class="bg-center-top bg-no-repeat py-5" data-offset-top="50" id="info">
    <div class="container pt-2 pb-3 pb-md-4">
      <div class="row align-items-center">
        <div class="col-md-7 order-2 order-md-1 pt-3 pt-md-0">
          <%= image_tag "david-calderon-973699-unsplash.jpg", alt:"Photo festival", class: "d-block mx-auto mx-md-0 rounded", style: "width:75%;"%>
        </div>
        <div class="col-md-5 order-1 order-md-2 text-center text-md-left">
          <h3 class="h5">Festroad : un site pensé pour les festivaliers par des festivaliers</h3>
          <p class="text-muted pt-3 pb-3 pb-md-4">Parce que rechercher des festivals par région ne veut plus rien dire
            et que nous utilisons tous des solutions GPS pour localiser l'endroit où l'on sortira ce soir.<br>
            FestRoad vous montre votre carte de route et indiquera bientôt le chemin!</p>
        </div>
      </div>
    </div>
  </section>
  <%= render 'carousel' %>

</body>