<% x = 0 %>

<div style="padding-top:120px;"></div>
<h2 class="text-center mb-5">La carte des festivals</h2>

<div class="row">
  <div class="cont_map col-8">
    <div id="map"></div>
    <%= javascript_include_tag('map.js') %>
  </div>
    <div class="row cont_fest col-4">
      <div class="d-flex flex-column bd-highlight col-centered">
        <% @fests.each do |fest| %>
            <div class="card mb-30 card_index">

            <%= image_tag 'https://festivalhommesforts.ca/wp-content/uploads/2017/06/Festival_music_374x230.jpg' %>
              <div class="card-body">
                   <center><h6 class="card-title red-font"><%= fest.title %></h6></center><br>
                <div class="d-flex justify-content-around">
                  <p><strong>Du : </strong><%= fest.start_date.strftime("%d/%m/%Y") %></p>
                  <p><strong>Au : </strong><%= fest.end_date.strftime("%d/%m/%Y") %></p>
                </div>

                <div class="d-flex justify-content-around">
                  <%= link_to "Détails", festival_path(fest.id), :class => "btn btn-style-4 btn-primary", "data-toggle" => "modal", "data-target" => "#modalLarge#{x}" %>
                  <%= link_to "", wish_lists_path(fest.id), :class => "far fa-heart btn btn-primary", method: "create" %>
                </div>


              <div class="modal fade" id="<%= "modalLarge#{x}" %>" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <p class="">Détails du festival</p>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>

                    <div class="modal-body">
                      <h2 class="red-font"><center><br><%= fest.title %></h2><br>
                      <center> <%= image_tag 'https://festivalhommesforts.ca/wp-content/uploads/2017/06/Festival_music_374x230.jpg' %> 
                      <div><br></div>
                      <div class="row d-flex justify-content-around">
                          <p><strong>Du : </strong><%= fest.start_date.strftime("%d/%m/%Y") %></p>
                          <p><strong>Au : </strong><%= fest.end_date.strftime("%d/%m/%Y") %></p>
                          <p><strong>Location : </strong><%= fest.address %></p>
                      </div>
                      <div class="row d-flex justify-content-around">
                          <p><strong>Description : </strong></p><p> <%= fest.description %> </p>
                          <p><strong>Website : </strong><%= fest.website %></p>
                      </div>
                    </div>
                    
                    <div class="modal-footer">
                      <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Fermer</button>
                      <%= link_to "", wish_lists_path(fest.id), :class => "far fa-heart btn btn-primary btn-sm", method: "create" %>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            </div>
         <% x += 1 %>
        <% end %>
      </div>
    </div>
  </div>



<div style="height: 100px;"></div>

<script src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['API_KEY_GOOGLE_MAPS']}&callback=initMap"%> type="text/javascript"></script>


