<% x = 0 %>
<div style="height: 10%;"></div>

<%= form_tag(festivals_path, method: :get ) do %>
  <div class= "row justify-content-center mt-3 mb-3">
    <%= text_field_tag :title, params[:title], class: "form-control form-date mr-2", placeholder: "Nom d'un festival"  %>
    <%= select_tag :music, options_for_select(@music.collect{ |u| [u.style, u.id] }), include_blank: "Type de musique" , class: "form-control form-date-2 mr-2" %>
    <%= select_tag :location, options_for_select(@location.collect{ |u| [u.location, u.id] }.slice(0..-2)), include_blank:"Type de festival" , class: "form-control form-date mr-2" %>
    <%= date_field_tag :start_date, params[:start_date] ,class: "form-control form-date mr-2", value: Time.now.strftime('%Y-%m-%d') %>
    <%= date_field_tag :end_date,  params[:end_date], class: "form-control form-date" %> 
    <%= button_tag "", class: "btn btn-primary" do %>
      <i class="fas fa-search"></i>
    <% end %></div>
<%end%>


<div style="height:5%;"></div>
<div class="row">

  <div class="cont_map col-xl-8 col-lg-8 col-md-8 col-sm-8">
    <div class="card" id="map"></div>
    <%= javascript_include_tag('map.js') %>
  </div>

    <div class="row cont_fest col-xl-4 col-lg-4 col-md-4 col-sm-4">
      <div class="d-flex flex-column bd-highlight col-centered">
        <% @fests.each do |fest| %>
            <div class="mb-30 card_index" id="hello">
              <%if fest.festpic.attached?%>
                <%= image_tag fest.festpic, alt: 'festival picture' %>
              <%else%>
                  <%= image_tag 'https://festivalhommesforts.ca/wp-content/uploads/2017/06/Festival_music_374x230.jpg' %>
              <%end%>
              <div class="card-body card" onmouseover=<%="showMarker(#{x})"%>>
                  <center><h6 class="card-title"><%= fest.title %></h6></center><br>
                <div class="d-flex justify-content-around">
                  <p><strong>Du : </strong><%= fest.start_date.strftime("%d/%m/%Y") %></p>
                  <p><strong>Au : </strong><%= fest.end_date.strftime("%d/%m/%Y") %></p>
                </div>
              <div class="d-flex justify-content-around">
                <div class="col-md-6">
                  <%= link_to "Détails", festival_path(fest.id), :class => "btn btn-style-4 btn-primary", "data-toggle" => "modal", "data-target" => "#modalLarge#{x}" %>
                </div>
                <div class= "col-md-6 justify-content-center">
                  <% if @result.include?(fest) %><i class="fas fa-heart"></i><% else %><%= link_to "", wish_lists_path(fest.id), :class => "no-fav far fa-heart btn btn-primary", method: "post", id: "fav", onclick: "changeClass()"  %><%end%>
                </div>
              </div>



              <div class="modal fade mt-5 pt-5" id="<%= "modalLarge#{x}" %>" tabindex="-1" role="dialog">
                <div class= "modal-dialog modal-lg mb-2 card col-xl-12 col-lg-12 col-md-12 col-sm-12" role="document">
                  <div class="row justify-content-between">
                    <h2 class= "card"><%= fest.title %></h2>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="row">
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                    <div class= "pt-3 mt-5 mb-5 pr-5 col-xl-5 col-lg-5 col-md-5 col-sm-5">
                      <%if fest.festpic.attached?%>
                        <%= image_tag fest.festpic, alt: 'festival picture' %>
                      <%else%>
                        <%= image_tag 'https://festivalhommesforts.ca/wp-content/uploads/2017/06/Festival_music_374x230.jpg' %>
                      <%end%>
                    </div>
                    <div class="mt-5 mb-5 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      <div class="row d-flex ">
                        <p style="margin-right: 15px;"><strong>Du : </strong><%= fest.start_date.strftime("%d/%m/%Y") %></p>
                        <p><strong>Au : </strong><%= fest.end_date.strftime("%d/%m/%Y") %></p><br>
                        <p><strong>Localisation : </strong><%= fest.address %></p>
                      </div>
                       <p><strong>Description : </strong> <%= fest.description %></p>
                       <p><strong>Site officiel : </strong> <%= link_to fest.website, fest.website %></p>
                        <center><%= link_to "", wish_lists_path(fest.id), :class => "far fa-heart btn btn-primary btn-md", method: "post", remote: true %>
                    </div>
                  </div>    
                </div>
              </div>
            </div>
            </div>
        <% x += 1 %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div style="height: 5%;"></div>

 <section class="container card pb-4" id="sectionhow">
    <h2 class="h3 block-title text-center pt-2"> Ca se passe prochainement </h2>
    <div class="owl-carousel" data-owl-carousel='{ "nav": false, "dots": true, "loop": true, "margin": 30, "autoplay": true, "autoplayTimeout": 4000, "responsive": {"0":{"items":1},"630":{"items":2},"991":{"items":3},"1200":{"items":3}} }'>
      <% @fests.each do |fest| %>
          <div class="card_index">
           <%if fest.festpic.attached?%>
              <%= image_tag fest.festpic, alt: 'festival picture' %>
            <%else%>
                <%= image_tag 'https://festivalhommesforts.ca/wp-content/uploads/2017/06/Festival_music_374x230.jpg' %>
            <%end%>
              <div class="card-body">
                <h4 class="card-title"><%= fest.title %></h4><br>
                <p><strong><%= fest.start_date.strftime("%d/%m/%Y") %> - <%= fest.end_date.strftime("%d/%m/%Y")
                 %></strong></p>
                <p> Du côté de <%= fest.address%> </p>
                <%if fest.fest_locations != []%>
                  <p><i class="fas fa-map-marker-alt"></i><% fest.fest_locations.each do |location| %><%= location.location_type.location%><%end%></p>
                <% end %>
                <%if fest.tags != [] %>
                  <% fest.tags.each do |tag| %><p class="tag-link"><%= tag.music_type.style%> </p><%end%>
                <% end %>
              </div>
              <div class="card-footer text-muted text-sm">
                <span class="opacity-75"></span> <%= link_to 'Détails', festival_path(fest.id), class:"btn btn-style-4 btn-primary" %></div>
              </div>
        <% end %>
    </div>
</section>

<div style="height: 5%;"></div>

<script src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['API_KEY_GOOGLE_MAPS']}&callback=initMap"%> type="text/javascript"></script>



