<section class="container py-5 mt-3">
      <h2 class="h3 block-title text-center mb-4">Notre équipe<small>Développeurs en herbe</small></h2>
      <div class="row-team">
        <!-- Team member Hamdi-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><%= image_tag "Hamdi.png", alt: "Hamdi Nassri" %>
              </div>
              <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-twitter" href="#"><i class="fab fa-twitter"></i></a><a class="social-btn sb-style-4 sb-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></div>
              <a class="team-contact-link" href="tel:+33609647625"><i class="fas fa-phone"></i>&nbsp;+33 6 09 64 76 25</a>
              <%= mail_to "mailto:nassrihamdi@gmail.com", class: "team-contact-link" do %><i class="far fa-envelope"></i>&nbsp;nassrihamdi@gmail.com<%end%>
            </div>
            <span class="team-position">Back Mouss'</span>
            <h4 class="team-name">Hamdi Nassri</h4>
          </div>
        </div>
        <!-- Team member Nora-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><%= image_tag "Nora.png", alt: "Nora Bourouis" %>
              </div>
              <div class="team-social-bar text-center">
              <a class="social-btn sb-style-4 sb-twitter" href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <% link_to  url: "https://www.linkedin.com/in/nora-bourouis-8543b1b5/", class:"social-btn sb-style-4 sb-linkedin" do%>
                <i class="fab fa-linkedin-in"></i>
              <%end%>
              </div>
              <a class="team-contact-link" href="tel:+33649854329"><i class="fas fa-phone"></i> &nbsp;+33 6 49 85 43 29</a><a class="team-contact-link" href="mailto:bourouis.nora@hotmail.fr"><i class="far fa-envelope"></i>&nbsp;bourouis.nora@hotmail.fr</a>
            </div><span class="team-position">Full Stack Mouss'</span>
            <h4 class="team-name">Nora Bourouis</h4>
          </div>
        </div>
        <!-- Team member Jonathan-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><%= image_tag "Jonathan.png", alt: "Jonathan Lutz" %>
              </div>
              <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-twitter" href="#"><i class="fab fa-twitter"></i></a>
              <a class="social-btn sb-style-4 sb-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div><a class="team-contact-link" href="tel:+33679597862"><i class="fas fa-phone"></i>&nbsp;+33 6 79 59 78 62</a><a class="team-contact-link" href="mailto:jonathan.lutz@gmx.fr"><i class="far fa-envelope"></i>&nbsp;jonathan.lutz@gmx.fr</a>
            </div><span class="team-position">Full Stack Mouss'</span>
            <h4 class="team-name">Jonathan Lutz</h4>
          </div>
        </div>
        <!-- Team member Maxime-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><%= image_tag "Max.png", alt: "Maxime Smolis" %>
              </div>
              <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-twitter" href="#"><i class="fab fa-twitter"></i></a><a class="social-btn sb-style-4 sb-linkedin" href="https://www.linkedin.com/in/maxime-smolis/"><i class="fab fa-linkedin-in"></i></a></div><a class="team-contact-link" href="tel:+33669771830"><i class="fas fa-phone"></i>&nbsp;+33 6 69 77 18 30</a>
              <a class="team-contact-link" href="mailto:maxime.smolis@gmail.com"><i class="far fa-envelope"></i>&nbsp;maxime.smolis@gmail.com</a>
            </div><span class="team-position">Full Stack Mouss'</span>
            <h4 class="team-name">Maxime Smolis</h4>
          </div>
        </div>
        <!-- Team member Marylis-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><%= image_tag "Marylis.png", alt: "Marylis Stenger" %>
              </div>
              <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-linkedin" href="https://www.linkedin.com/in/marylis-stenger-95907a42/"><i class="fab fa-linkedin-in"></i></a></div>
              <a class="team-contact-link" href="tel:+33610738880"><i class="fas fa-phone"></i>&nbsp;+33 6 10 73 88 80</a><a class="team-contact-link" href="mailto:stenger_marylis@hotmail.fr">
              <i class="far fa-envelope"></i>&nbsp;stenger_marylis@hotmail.fr</a>
            </div><span class="team-position">Full Stack Mouss'</span>
            <h4 class="team-name">Marylis Stenger</h4>
          </div>
        </div>
      </div>
    </section>

    
