
<header class="navbar-wrapper navbar-boxed navbar-floating navbar-sticky" id="navbar">
      <div class="container-fluid">
        <div class="d-table-cell align-middle pr-md-3">
          <%= link_to "Fest Road", root_path ,class:"navbar-brand mr-1"%><img src="#" alt="FestRoad"/>
        </div>
        <div class="d-table-cell w-100 align-middle pl-md-3">
          <div class="navbar justify-content-end justify-content-lg-between">
            <ul class="navbar-nav d-none d-lg-block">
              <li class="nav-item mega-dropdown-toggle">
              </li>
              <li class="nav-item"><%= link_to 'Les festivals', festivals_path , class:"nav-link" %>
              </li>
             <% if current_user%> <li class="nav-item"><%= link_to 'Mes favoris',wish_lists_path, class: 'nav-link' %>
              </li>   <%end%>
               <li class="nav-item">
                <%= link_to 'Contact', new_contact_path, class: 'nav-link' %>
              </li>
            <% if current_user && current_user.is_admin == true %> <li class="nav-item"> <%= link_to 'Espace Admin', admin_index_path, class: 'nav-link' %>
              </li> <%end%>
            </ul>
           <% if current_user%>
          <!-- Components-->
            <%= link_to "Se déconnecter",  destroy_user_session_path, method: :delete, class:"btn ml-3 d-none d-xl-inline-block" %></li>
          <%else%>
          <%= link_to "Me connecter",  new_user_session_path, method: :new, class:"btn ml-3 d-none d-xl-inline-block" %></li>
          <%end%>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

