<section class="container py-5 mt-3">
      <h2 class="h3 block-title text-center mb-4">Notre équipe<small>Développeurs en herbe</small></h2>
      <div class="row-team">
        <!-- Team member Hamdi-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><%= image_tag "Hamdi.png", alt: "Hamdi Nassri" %>
              </div>
              <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-twitter" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-4 sb-linkedin" href="#"><i class="socicon-linkedin"></i></a></div><a class="team-contact-link" href="tel:+33609647625"><i class="fe-icon-phone"></i>&nbsp;+33 6 09 64 76 25</a><a class="team-contact-link" href="mailto:nassrihamdi@gmail.com"><i class="fe-icon-mail"></i>&nbsp;nassrihamdi@gmail.com</a>
            </div><span class="team-position">Back Mouss'</span>
            <h4 class="team-name">Hamdi Nassri</h4>
          </div>
        </div>
        <!-- Team member Nora-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><%= image_tag "Nora.png", alt: "Nora Bourouis" %>
              </div>
              <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-twitter" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-4 sb-linkedin" href="https://www.linkedin.com/in/nora-bourouis-8543b1b5/"><i class="socicon-linkedin"></i></a></div><a class="team-contact-link" href="tel:+33649854329"><i class="fe-icon-phone"></i>&nbsp;+33 6 49 85 43 29</a><a class="team-contact-link" href="mailto:bourouis.nora@hotmail.fr"><i class="fe-icon-mail"></i>&nbsp;bourouis.nora@hotmail.fr</a>
            </div><span class="team-position">Full Stack Mouss'</span>
            <h4 class="team-name">Nora Bourouis</h4>
          </div>
        </div>
        <!-- Team member Jonathan-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><%= image_tag "Jonathan.png", alt: "Jonathan Lutz" %>
              </div>
              <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-twitter" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-4 sb-linkedin" href="#"><i class="socicon-linkedin"></i></a></div><a class="team-contact-link" href="tel:+33679597862"><i class="fe-icon-phone"></i>&nbsp;+33 6 79 59 78 62</a><a class="team-contact-link" href="mailto:jonathan.lutz@gmx.fr"><i class="fe-icon-mail"></i>&nbsp;jonathan.lutz@gmx.fr</a>
            </div><span class="team-position">Full Stack Mouss'</span>
            <h4 class="team-name">Jonathan Lutz</h4>
          </div>
        </div>
        <!-- Team member Maxime-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><%= image_tag "Max.png", alt: "Maxime Smolis" %>
              </div>
              <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-twitter" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-4 sb-linkedin" href="https://www.linkedin.com/in/maxime-smolis/"><i class="socicon-linkedin"></i></a></div><a class="team-contact-link" href="tel:+33669771830"><i class="fe-icon-phone"></i>&nbsp;+33 6 69 77 18 30</a><a class="team-contact-link" href="mailto:maxime.smolis@gmail.com"><i class="fe-icon-mail"></i>&nbsp;maxime.smolis@gmail.com</a>
            </div><span class="team-position">Full Stack Mouss'</span>
            <h4 class="team-name">Maxime Smolis</h4>
          </div>
        </div>
        <!-- Team member Marylis-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><%= image_tag "Marylis.png", alt: "Marylis Stenger" %>
              </div>
              <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-linkedin" href="https://www.linkedin.com/in/marylis-stenger-95907a42/"><i class="socicon-linkedin"></i></a></div><a class="team-contact-link" href="tel:+33610738880"><i class="fe-icon-phone"></i>&nbsp;+33 6 10 73 88 80</a><a class="team-contact-link" href="mailto:stenger_marylis@hotmail.fr"><i class="fe-icon-mail"></i>&nbsp;stenger_marylis@hotmail.fr</a>
            </div><span class="team-position">Full Stack Mouss'</span>
            <h4 class="team-name">Marylis Stenger</h4>
          </div>
        </div>
      </div>
    </section>
<section class="bg-secondary bg-cover bg-no-repeat pt-5 pb-4" style="background-image: url(assets/img_test.JPG);" data-offset-top="-10" id="contacts">
      <div class="container py-2">
        <h2 class="h3 block-title text-center">Contact me<small>I'll be glad to answer all your questions. I normally respond within 2 - 3 business days.</small></h2>
        <form class="needs-validation pt-4 pb-5" novalidate="">
          <div class="row">
            <div class="col-md-4 col-sm-6 form-group">
              <label for="cont-name">Your Name <span class="text-danger font-weight-medium">*</span></label>
              <input class="form-control" type="text" id="cont-name" placeholder="John Doe" required="">
              <div class="invalid-feedback">Please fill in your name!</div>
            </div>
            <div class="col-md-4 col-sm-6 form-group">
              <label for="cont-email">Email Address <span class="text-danger font-weight-medium">*</span></label>
              <input class="form-control" type="email" id="cont-email" placeholder="johndoe@example.com" required="">
              <div class="invalid-feedback">Please provide valid email address!</div>
            </div>
            <div class="col-md-4 form-group">
              <label for="cont-subject">Subject</label>
              <input class="form-control" type="email" id="cont-subject" placeholder="Title of your message">
            </div>
          </div>
          <div class="form-group">
            <label for="cont-message">Message <span class="text-danger font-weight-medium">*</span></label>
            <textarea class="form-control" id="cont-message" rows="8" placeholder="Type your message..." required=""></textarea>
            <div class="invalid-feedback">Please type your message!</div>
          </div>
          <div class="text-center">
            <button class="btn btn-style-4 btn-icon-left btn-gradient" type="submit"><i class="fe-icon-mail text-md"></i>Send Message</button>
          </div>
        </form>
        <hr>
        <div class="d-md-flex justify-content-between align-items-center pt-4 text-center text-md-left">
          <div class="order-2"><a class="social-btn sb-style-6 sb-facebook" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-6 sb-dribbble" href="#"><i class="socicon-dribbble"></i></a><a class="social-btn sb-style-6 sb-twitter" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-instagram" href="#"><i class="socicon-instagram"></i></a><a class="social-btn sb-style-6 sb-behance" href="#"><i class="socicon-behance"></i></a></div>
          <p class="m-0 text-sm order-1"><span class="opacity-80">© All rights reserved. Made with</span> <i class="d-inline-block align-middle fe-icon-heart text-danger"></i> <a href="http://createx.studio/" class="d-inline-block navi-link opacity-80 p-0" target="_blank">by Createx Studio</a></p>
        </div>
      </div>
    </section>
    
