<!DOCTYPE html>
<html>
  <head>
  <%= Gon::Base.render_data %>
    <!--code fontawsome--->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">  

    <title>FestRoad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <%= render 'layouts/navbar'%>
  <%= render 'layouts/flash'%>
    <%= yield %>
  <%= render 'layouts/footer'%> 

  </body>
</html>
